/bin/
/dist/
/node_modules/
/ts-runtime/node_modules/
/tree-sitter-ash/node_modules/
/tree-sitter-ash/src/
/tree-sitter-ash/*.wasm
*.log
.DS_Store
__pycache__/
*.pyc
build/
.build/
dist/
target/
node_modules/
.gradle/
bin/
obj/
